:root {
	--bg: #000000;
	--text: #ffffff;
	--sans: 'Noto Sans';
	--mono: 'Noto Sans Mono';
}

body {
	background-color: var(--bg);
	margin: 0 auto;
	padding: 8px;
	max-width: 800px;
	color: var(--text);
	font-family: var(--sans);
	font-size: 18px;
}

img {
	width: 100%;
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px solid var(--text);
}

a,
a:hover {
	text-decoration: underline;
	color: var(--text);
}

::selection {
	background-color: var(--text);
	color: var(--bg);
}

pre {
	background-color: var(--text);
	padding: 15px;
	font-family: var(--mono);
	color: var(--bg);
}

pre::selection,
code::selection {
	background-color: var(--bg);
	color: var(--text);
}

code {
	font-family: var(--mono);
	background-color: var(--text);
	color: var(--bg);
}

blockquote {
	border: 1px var(--text);
	border-left: 2px solid var(--text);
	border-right-width: 2px;
	margin: 0 0 10px;
	padding: 0 0 0 12px;
	font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 28px;
	font-family: var(--sans);
}

.header,
.footer {
	font-family: var(--mono);
}
