@font-face {
  font-family: 'Noto Sans Mono';
  src: url('assets/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth\,wght.ttf') format('truetype');
}

body {
	background-color: #fff;
	margin: 0px auto;
	padding: 8px;
	max-width: 600px;
	color: #000;
	font-family: 'Noto Sans Mono', monospace;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1e1c1c;
		color: #fff;
	}
}

textarea,
input[type=text],
input[type=password] {
	font-size: inherit;
	font-family: inherit;
	background-color: #fbf1c7;
	color: inherit;
}

textarea {
	padding: .5rem;
	width: 100%;
	box-sizing: border-box;
}

blockquote {
	font-style: italic;
}

h1,
h2,
h3,
pre,
code {
	color: #98971a;
}

img {
	width: 100%;
}

hr {
	border-top: 1px dashed #98971a;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

a {
	text-decoration: none;
}

a:visited {
	color: #79740e;
}

a:link {
	color: #aca413;
}

::selection {
	background-color: #E8F3E8;
}

a:hover {
	text-decoration: underline;
}

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer-start {
	text-align: left;
}

.footer-end {
	text-align: right;
}